






.login-button{
    background-color: #2b7c3a;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px; 
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
        background-color: #00b383;
}

.nav-toggler{
    border: none;
    font-size: 1.25rem;
}

.nav-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #666777;
    font-size: 500;
}

.nav-link:hover, .nav-link.active{
    color: #000;
}

@media (min-width: 991px){
.nav-link::before{
    content: "";
    position:absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: #009970 ;
    visibility: hidden;
    transition: 0.3 ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}
}